---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  performance-*,
  -performance-no-automatic-move,
  clang-analyzer-*,
  -clang-analyzer-optin.performance.Padding,
  modernize-use-nullptr,
  modernize-use-override

HeaderFilterRegex: 'indra/.*'
FormatStyle: none
...
